.contact-box{
    
    &-title{
        font-size: 1rem;
        line-height: 1;
        font-weight: 500;
        margin-bottom: 15px;
        color: $stealBlue;
    }
    &-address{
        font-size: 0.8rem;
        line-height: 1.5;
    }
    @mixin mediumScreen{
        &-title{
            font-size: 1.875rem;
            line-height: 1;
            font-weight: 700;
            margin-bottom: 15px;
            color: $stealBlue;
        }
        &-address{
            font-size: 0.975rem;
            line-height: 1.5;
        }
    }
    
}